body {
    font-family: sans-serif, Tahoma, Arial, Impact;
    width: 900px;
    height: 870px;
    border: 10px solid #e6e6e6;
    position: relative;
    left: 19%;
    font-size: 12px;
    margin: 0;
    padding: 0;

}

#header_contact p {

    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-family: Impact;
}

#container .input_all_text input {
    width: 759px;
    height: 81px;
    margin-left: 60px;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 15px;

}

#container .input_all_text .form_text_email input {
    width: 360px;
    height: 81px;
    margin-left: 60px;
    float: left;

}

#container .input_all_text .form_text_phone input {
    width: 355px;
    height: 81px;
    float: right;

}

#container .input_all_text .form_text_phone {
    padding-bottom: 100px;
    padding-right: 60px;
    position: relative;
    bottom: 100px;
    left: 5px;


}

#container .input_all_text .form_text_phone p {
    position: relative;
    top: 115px;
    left: 35px;

}

#container .input_all_text .form_text_email p {
    position: relative;
    top: 47px;
    left: 80px;

}

#container .input_all_text .form_text_fullname p {
    position: relative;
    top: 47px;
    left: 80px;

}

#container .input_all_text input {
    border-radius: 10px;
    border: 2px solid #efefef;
    background-color: #f7f7f7;
}

#container .input_all_text .form_text_neddedservice select {
    width: 785px;
    height: 97px;
    margin-left: 60px;
    padding-left: 19px;
    padding-top: 15px;
    font-size: 17px;
    color: #332f2f;
    border-radius: 10px;
    background-color: #f7f7f7;

}

#container .input_all_text .form_text_neddedservice p {
    position: relative;
    top: 78px;
    left: 83px;

}

#container .input_all_text p {
    font-size: 13px;
    color: #332f2f;
    font-weight: bolder;
}

#container .input_all_text .form_text_neddedservice {
    position: relative;
    bottom: 70px;
}

#container .input_all_text .form_text_message p {
    position: relative;
    left: 83px;
    top: 60px;

}

#container .input_all_text .form_text_message input {
    width: 757px;
    height: 157px;
    background-color: white;


}

#container .input_all_text .form_text_message {
    position: relative;
    bottom: 77px;

}

.end-button button {
    width: 790px;
    height: 50px;
    margin-left: 55px;
    text-align: center;
    position: relative;
    bottom: 50px;
    border-radius: 20px;
    background-color: #333333;
    color: white;
    cursor: grab;
}


