
.signup {
    padding: 30px 0;

}

.contain {
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    width: 400px;
    background: #FFFFFF;
    margin: auto;
    border-radius: 5px;
}

h5 {
    margin: 0;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

.signup-content {
    padding-top: 20px;
}

.contain form {
    margin-bottom: 20px;
}

.title {
    color: black;
    padding-left: 5px;
    margin-top: 10px;
}

.form-SignUp {
    margin-top: 20px;
    margin-bottom: 10px;

}
.form-group {
    padding: 10px;
}
.form-group input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 0;
    text-indent: 5px;
}

.form-group input:focus {
    outline-color: rgba(194, 219, 254, 1);
}
#gender{
    padding: 0;
    width: 14px;
    display: flex;
    margin-left:5px;
}
.gender{
    margin-left: 5px;
    margin-right: 30px;
}
.add_info .form-group {
    padding-top: 0;
}
.checkbox{
    display:flex;
    margin-left: 15px;

}
.checkbox a{
    margin-left: 5px;
    text-decoration-line: none;
    color:#F68E2E;
    font-size: 0.75rem;
}
.checkbox input{
    background-color: #F68E2E;
    padding:10px;
}
button {
    margin-bottom: 10px;
    background: #F68E2E;
    color: white;
    padding:10px;
    padding-right: 16px;
    font-weight: 700;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

.contain-menu{
     width: 900px;
     display:flex;
    margin:auto;

 }
header h4{
    margin-top:auto;
    margin-bottom: auto;
}
/*---------------------------------------------------*/
.verify{
    margin:10px;

}
.verify a{
    text-decoration-line: none;
    color:#F68E2E;
}
.verify p{
    text-align: center;
}



